[submodule "lib/forge-std"]
	path = contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/chainlink-brownie-contracts"]
	path = contract/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "lib/headers"]
	path = contract/lib/headers
	url = https://github.com/transmissions11/headers
[submodule "lib/solmate"]
	path = contract/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/foundry-devops"]
	path = contract/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
